/out
/project
/target
scala_compiler.xml
workspace.xml
codeStyles
libraries
modules
misc.xml
modules.xml
sbt.xml
/.bsp
/javascript
/.idea/*
!/.idea/runConfigurations
/.bloop
/.metals
/.vscode
/test/examples/AAA_dummy.p
#kopperman.tex
#gitignore.bk
*.log
test/examples/Kopperman_Tutorial.p.log
test/examples/Kopperman_Tutorial.p.aux
test/examples/Kopperman_Tutorial.p.sref
test/examples/Kopperman_Tutorial.p.bbl
test/examples/Kopperman_Tutorial.p.blg
test/examples/Kopperman_Tutorial.p.out
test/examples/cadabra.log
test/examples/cadabra.aux
test/examples/cadabra.sref
test/examples/cadabra.bbl
test/examples/cadabra.blg
test/examples/cadabra.out
test/examples/cadabra.toc
kopperman.tex
#test/examples/bib.bib
#test/examples/cadabra.tex
#test/examples/utphysMM.bst
#test/examples/dhall.p
#StateOfTheArt_Comparison.md
#test/examples/Kopperman_Tutorial.p.tex
#test/examples/Kopperman_Tutorial.p.pdf
#test/examples/preamble.tex
#src/main/scala/info/kwarc/p/WebMain.scala
#src/main/scala/info/kwarc/p/verification/verify_math.js
#src/main/scala/info/kwarc/p/verification/verify_serialization.js
#src/main/scala/info/kwarc/p/test/serialization_math.p
#src/main/scala/info/kwarc/p/test/serialization_test.p
#src/main/scala/info/kwarc/p/test/serialization_verify.p

